@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');


$font-inter: 'Inter', sans-serif;
$font-sans:'DM Sans', sans-serif;


$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-medium : 500;
$font-weight-bold : 700;