    html, body {
        color: #191919;
        font-family: $font-inter;
        font-size: 16px;
        font-weight: 400;
    }
    .wrapper {
        height: 100dvh;
        display: flex;
        flex-direction: column;
    }
    main {
        flex: 1;
    }
    
    button {
    font-family: $font-inter;
    font-weight: $font-weight-medium;
    border: 1px solid #dad9d3;
    background-color: #F9D783;
    padding: 14px;
    border-radius: 25px 25px 25px 25px;
    display: inline-flex;
    align-items: center;
    i {
        margin-left: 10px;
    }
    &:hover {
        background-color: #191919;
        color: #F0EFE9;
        transition: 0.3s;
    }
    }
