footer {

 section {

    background-color: #0E1021;
    height: auto;
 }
    .container {
        padding: 60px 40px 60px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }
    .footerimg {

        max-width: 250px;
        p{
            font-family: $font-inter;
            font-weight: $font-weight-regular;
            color: white; opacity: 70%;
            font-size: 14px;

        }
         img {
        margin-bottom: 30px;
    }
    }


        ul{
        font-family: $font-sans;
        font-size: 22px;
        font-weight: $font-weight-bold;
        color: #fff;
        list-style: none;

        a {
        font-family: $font-inter;
        font-size: 14px;
        font-weight: $font-weight-regular;
        text-decoration: none;
        color: white;  opacity: 70%;

        &:hover {
            color: #F9D783;
        }
        } 
    }
}
    .footer-bot {
        border-top: 1px solid #707070; 

        .container {
            padding-left: 60px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .ptext  {
            color: white;  opacity: 70%;
        }
        .footer-icons a{
            margin-left: 10px;

        }
    }



